* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  scroll-behavior: smooth;
}

main {
  background-color: #0b0121;
}

body {
  font-family: Poppins;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#370c94, #0b0121);
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  font-family: Poppins;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 80px;
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #0b012175;
  backdrop-filter: blur(10px);
  
}
#bg-gradient{
background: linear-gradient(to bottom, #370c94, #0b0121);

}
#bg-solid{
 
  background-color: #0b0121;
}

#felicidade{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo-container {
  display: flex;
  align-items: left;
}

.logo-img {
  width: 80px;
  height: auto;
  margin-right: 10px;
  filter: invert(1);
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;

}

.navbar {
  display: flex;
  
  gap: 30px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
  text-wrap-mode: nowrap;
}

.navbar a:hover {
  transform: scale(1.1);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
  transition: all 0.3s;
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    height: auto;
  }

  .logo-container {
    width: 100%;
    justify-content:center
  }

  .logo-img {
    width: 60px;
  }

  .logo-text {
    font-size: 20px;
    justify-content: flex-start;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .navbar.active {
    display: flex;

  }

  .navbar a {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    color: #fff;
  }

  .txt5 {
    font-size: 22px;
  }

  .txt6 {
    font-size: 14px;
  }
}
.txt {
  text-align: center;
  font-family: Poppins;
  font-size: 50px;
  width: 50%;
  margin: 0 auto;
  line-height: 1.2;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.514));
  background-clip: text;
  color: transparent;
  font-weight: 600;
  margin-top: 30px;
}

.txt2 {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  width: 40%;
  margin: 0 auto;
  line-height: 1.2;
  color: #ffffff77;
  margin-top: 50px;
}

.scroll {
  text-align: center;
  font-size: 25px;
  width: 40%;
  font-family: Poppins;
  font-weight: 200;
  margin: 0 auto;
  line-height: 1.2;
  color: #ffffff;
  margin-top: 117px;
}

.section1 {
  
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  flex-direction: column;
  padding-top: 100px;
}

.section2 {
  
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  flex-direction: column;
  padding-top: 1px;
}

.txt3 {
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  width: 50%;
  margin: 0 auto;
  line-height: 1.2;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.514));
  background-clip: text;
  color: transparent;
  font-weight: 600;
  margin-top: 150px;
}

.txt4 {
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  width: 40%;
  margin: 0 auto;
  line-height: 1.2;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.514));
  background-clip: text;
  color: transparent;
  font-weight: 600;
  margin-top: 50px;
}

.mov-container {
  margin-top: 100px;
  margin-bottom: 40px;
}

.menu-mov {
  position: relative;
  display: flex;
  width: 80%;
  left: 10%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.fil-mun {
  margin-top: 30px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-size: 15px;
  background-color: #370c94;
  color: white;
  margin-bottom: 30px;
}

.graf {
  position: relative;
  width: 60vw;
  height: 40vw;
}

.carousel {
  display: flex;
  align-items: center;
  width: 269px;
  height: 61px;
  justify-content: space-between;
  border-radius: 10px;
  gap: 10px;
}

.arrowL {
  color: white;
  background-color: #370c94;
  font-size: 15px;
  cursor: pointer;
  padding: 20px 5px;
  user-select: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.arrowR {
  color: white;
  background-color: #370c94;
  font-size: 15px;
  cursor: pointer;
  padding: 20px 5px;
  user-select: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.years {
  background-color: #0b0121;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
  width: 200px;
  padding: 20px 30px;
  color: whitesmoke;
}

.year {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 50px;
  transition: opacity 0.3s ease;
}

.prev,
.next {
  opacity: 0.3;
}

.current {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: black;
}

.components-scroll-circle {
  display: block;
  margin-top: 40px;
}

.components-scroll-circle-icon {
  background-color: #ffffff;
  display: block;
  height: 60px;
  width: 1px;
  margin: 10px auto;
  position: relative;
  transition: all 0.4s ease-out;
}

.components-scroll-circle-icon:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transform: translateX(-50%);
}

.linev {
  background-color: #ffffff;
  display: block;
  height: 200px;
  width: 1px;
  margin: 10px auto;
  position: relative;
  transition: all 0.4s ease-out;
  margin-bottom: 5%;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  color: whitesmoke;
}

.lineh {
  width: 350px;
  border: 1px solid;
  margin: 0 20px;
  margin-top: 0px;
}

.linet {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  margin: 0 20px;
}

.tab-container {
  align-items: center;
  margin: 40px auto;
  background-color: #161616;
  padding: 20px;
  padding-bottom: 0px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.dropdown {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 5%;
  gap: 20px;
}

.dropdown label {
  color: white;
  font-size: 16px;
}

.dropdown select {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #370c94;
  color: white;
}

.dropdown input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff20;
  color: white;
  padding-right: 0;
}

.dropdown select option {
  background-color: #696969;
  color: #fff;
}

.dropdown select option:hover {
  background-color: #370c94;
  color: white;
}

.dropdown select:focus {
  background-color: #370c94;
  border: 1px solid #999999;
}

.dropdown select:active {
  background-color: #ffffff20;
}

.dropdown input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

table.tab {
  width: 100%;
  margin: 0px auto;
  border-collapse: separate;
  border-spacing: 0px 30px;
  font-family: sans-serif;
}

table.tab thead {
  background-color: #4b1c78;
  color: white;
}

table.tab thead th {
  padding: 10px;
  font-size: 23px;
  text-align: center;
  font-weight: 200;
}

table.tab thead th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table.tab thead th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

table.tab tbody td {
  text-align: center;
  vertical-align: middle;
}

table.tab tbody td > div {
  margin: 0px 10px;
  padding: 10px;
  border: 2px#D0D0D080;
  background-color: #D0D0D080;
  color: white;
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  max-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-overflow: ellipsis;
  font-size: clamp(7px, 2vw, 16px);
}

.new-year {
  margin-top: 30px;
  padding: 5px;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  height: 30px;
  background-color: #370c94;
  color: white;
  width: 125px;
}

footer {
  width: 100%;
  background-color: #0b0121;
  color: white;
  text-align: center;
  font-family: Poppins;
  display: flex;
  padding-top: 20px;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

hr {
  width: 99.9%;
}

.txt5 {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  font-family: Poppins;
}

.txt6 {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff77;
  margin: 0 10vw;
}

.txt7 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  font-family: Poppins;
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
}

.txt7:hover {
  color: #370c94;
}

.direi {
  background-color: #161616;
  color: white;
  font-weight: 100;
  width: 100%;
  font-size: .75rem;
}

@media (max-width: 480px) {
  .txt, .txt3 {
    font-size: 24px;
    width: 90%;
    margin-top: 100px;
  }
  
  .txt2, .txt4 {
    font-size: 16px;
    width: 90%;
    margin-top: 30px;
  }

  .scroll {
    font-size: 18px;
    width: 90%;
    margin-top: 50px;
  }

  .menu-mov {
    flex-direction: column;
    width: 100%;
    left: 0;
  }

  .carousel {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .graf {
    width: 98vw;
    height: 98vw;
  }

  .tab-container {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
  }

  table.tab {
    font-size: 12px;
    overflow-x: auto;
    display: block;
  }

  table.tab thead th {
    font-size: 10px;
    padding: 6px;
  }

  .dropdown {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-left: 0;
    width: 100%;
  }
  .dropdown input{
  font-size: 14px;
    width: 97%;
  }
  .dropdown label, .dropdown select  {
    font-size: 14px;
    width: 100%;
  }

  .bar-chart {
    width: 100%;
  }

  .label {
    width: 70px;
    font-size: 12px;
  }

  .bar {
    height: 30px;
  }
}

.div-graf{
  display: flex;
  justify-content: center;
}

nav a.ctt {
  border: 1px solid white;
  border-radius: 40px;
  padding: 8px 30px;
}
nav a.ctt:hover {
  background-color: #fff;
  color: #370c94;
}

.toggle-container {
  display: flex;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #370C94;
}

.toggle-btn {
  padding: 8px 15px;
  background: #0B0121;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.toggle-btn:active {
  background: #370C94;
  color: white;
}
.toggle-btn.active {
  background: #370C94;
  color: white;
}

