body {
    font-family: Poppins;
    height: 300vh;
    background-image: linear-gradient(#370C94, #0B0121);
    margin: 0;
}

header {
    margin: 0;
    font-family: Poppins;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 80px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #0b012175; 
    backdrop-filter: blur(10px); 
    padding: 0 30px;
}

.logo-container {
    
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: center; 
}

.logo-img {
    
    width: 100px; 
    filter: invert(100%);
   
}

.logo-text {
    font-size: 30px;
    font-family: Poppins;
    font-weight: 700;
    color: white;
  
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 50px;
    text-align: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
   
}

nav a:hover {
    border: 1px solid white;  
    border-radius: 40px;
    padding: 4px 15px; 
    border: 1px solid white;  
    border-radius: 40px;
    transform:scale(1.2);
}


nav a.ctt {
    border: 1px solid white;  
    border-radius: 40px;
    padding: 8px 30px; 
    
}

.txt {
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    width: 50%;
    margin: 0 auto; 
    line-height: 1.2; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.514));
    background-clip: text;
    color: transparent;
    font-weight: 600;
    margin-top: 150px;
}
.txt2 {
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    width: 40%;
    margin: 0 auto; 
    line-height: 1.2; 
    color: #ffffff77;
    margin-top: 50px;
}
.scroll {
    
    text-align: center;
    font-size: 25px;
    width: 40%;
    font-family: Poppins;
    font-weight: 200;
    margin: 0 auto; 
    line-height: 1.2; 
    color: #ffffff;
    margin-top: 117px;
}
.section1 {
   
    background: linear-gradient(to bottom, #370C94, #0B0121);
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    flex-direction: column;
    padding-top: 100px;
}
.section2 {
   
   background-color: #0B0121;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    flex-direction: column;
    padding-top: 1px;
}


.txt3 {
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    width: 50%;
    margin: 0 auto; 
    line-height: 1.2; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.514));
    background-clip: text;
    color: transparent;
    font-weight: 600;
    margin-top: 150px;
}


.mov-container{
margin-top: 150px;

}
.menu-mov{
    position:relative ;

    display: flex;
    width: 80%;
    left: 10%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.fil-mun{
    margin-top: 20px;
    background-color: #370C94;
    color: #fff;
    font-family: Poppins;
    align-items: center;
    width: 120px;
    font-weight: 600;
    height: 30px;
    border-style: none;
    border-radius: 8px;
}
.seta{
    height: 20px;
    filter: invert(100%);
}
.graf{
    position: relative;
    left: 20%;
    width: 60%;
}

.carousel {
    display: flex;
    align-items: center;
    width: 269px;
    height: 61px;
    justify-content: space-between;
    border-radius: 10px;
    gap: 10px;
}

.arrowL {
    color: white;
    background-color: #370C94;
    font-size: 15px;
    cursor: pointer;
    padding: 20px 5px;
    user-select: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.arrowR {
    color: white;
    background-color: #370C94;
    font-size: 15px;
    cursor: pointer;
    padding: 20px 5px;
    user-select: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.years {
    background-color: #0B0121;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    overflow: hidden;
    gap: 10px;
    width: 200px;
    padding: 20px 30px;
}

.year {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    transition: opacity 0.3s ease;
}

.prev, .next {
    opacity: 0.3;
}

.current {
    opacity: 1;}

::-webkit-scrollbar {
    width: 1px;
    background-color:black;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

.components-scroll-circle {
    display: block;
    margin-top: 40px;
}

.components-scroll-circle-icon {
    background-color: #ffffff;
    display: block;
    height: 60px;
    width: 1px;
    margin: 10px auto;
    position: relative;
    transition: all 0.4s ease-out;
}

.components-scroll-circle-icon:before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transform: translateX(-50%);
}
